* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

$tablet: 900px;
$desktop: 1350px;


$color00: rgb(255, 248, 248);
$color01: rgb(40, 40, 40);
$color01bis: rgba(40, 40, 40, 0.615);
$color02: rgb(182, 70, 70);

a, p, span{
    font-family: Arial, Helvetica, sans-serif;
}


header{
    width: 100%;
    min-height: 100dvh;
    padding: 1.5rem;
    background-image: url('../img/imagen-portfolio-1200.avif');
    background-size:cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 2rem;

    
    @media only screen and (min-width:$tablet){
        padding: 4rem 0;
    }

    .presentacion{
        width: 100%;
        padding: 1rem 0;
        background-color: $color01bis;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        row-gap: 1rem;
        @media only screen and (min-width:$tablet){
            width: 90%;
            padding: 2rem 5rem;
        }
        @media only screen and (min-width:$desktop){
            width: 80%;
        }
        h1{
            font-size: clamp(2rem, 3vw, 6rem);
            font-family: Arial, Helvetica, sans-serif;
            color: $color00;
        }
        >p{
            color: $color00;
            font-size: clamp(0.9rem, 2vw, 1.2rem);
        }
    }
    .contenedor_fichas{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
        @media only screen and (min-width:$tablet){
            width: 90%;            
        }
        @media only screen and (min-width:$desktop){
            width: 80%;            
        }
        .ficha{
            position: relative;
            overflow: hidden;
            width: 48%;
            height: 300px;
            background-color: $color01;            
            text-decoration: none;     
            border-radius: 10px;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &:hover h2{
                transform: scale(1.05);
                color: $color00;
                background-color: $color01bis;
            }
            &:hover img{
                transform: scale(1.2);
                filter: grayscale(0);
                opacity: 1;
            }
            &:hover p{
                opacity: 0;
            }
            @media only screen and (min-width:$desktop){
                width: 23%;            
            }
            
            h2, img, p{
                transition: 0.4s;
            }
            h2{
                width: 100%;
                padding: 2rem 1rem;
                color: $color00;
                text-align: center;
                z-index: 10;
            }
            p{
                padding: 0.5rem 1rem;
                font-size: 1rem;
                color: $color00;
                z-index: 0;
            }
            img{
                position: absolute;
                z-index: 0;
                inset: 0; // Es como si le dijésemos top:0, botton:o, left: 0, right: 0.
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                opacity: 0.5;
                filter: grayscale(1) blur(2px)
            }

        }
    }
}